.instructions {
  margin: 60px auto;
}

.personal-instructions {
  
}

.no-personal-instructions {
  padding: 10px;
}

.no-personal-instructions__heading {
  text-align: center;
  font-size: 24px;
  color: #b1b1b1;
}

.add-instruction {
  text-align: center;
}

.add-instruction__title {
  font-size: 20px;
  padding: 15px 0 10px;
}

.add-instruction__button {
  margin: 0 5px;
  font-size: 16px;
}

.instruction {
  margin: 0 10px;
}

.instruction-photo {
  height: 10rem;
}

.instruction-tags {
  overflow: hidden;
}

.instruction-tag {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #ccc;
  padding: 2px 3px;
  margin: 0 3px;
}
