<div class="container">
  <div class="instructions">
    <div class="personal-instructions">
      <div class="personal-instructions__heading">
        <h3>My instructions</h3>
      </div>
      <div class="personal-instructions__content">
        <div class="no-personal-instructions">
          <p class="no-personal-instructions__heading">No instructions yet</p>
        </div>
        <div class="personal-instructions__block">
          <div class="personal-instructions__filters">

          </div>
        </div>
        <div class="add-instruction">
          <p class="add-instruction__title">
            Have something to tell about? Click
            <button class="add-instruction__button btn btn-info"
                    routerLink="/instruction/builder">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add
            </button>
            to create new instruction.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
