.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 55px;
  height: 55px;
  padding: 10px 16px;
  font-size: 26px;
  line-height: 1.33;
  border-radius: 30px;
}
