<div class="container">
  <div class="instruction-builder">
    <div class="inctruction-builder__heading">
      <h3>Welcome to the instruction builder</h3>
    </div>
    <div class="instruction-builder__content">
      <div class="row">
        <div class="col">
          <div class="hint">
            <span class="hint__title">
              1. Fill the common info
            </span>
          </div>
          <div class="instruction-common">
            <form>
              <div class="form-group row">
                <label for="instruction-title" class="col-3 col-form-label">Title</label>
                <div class="col-8">
                  <input type="text" class="form-control" id="instruction-title" placeholder="Quizzy">
                </div>
              </div>
              <div class="form-group row">
                <label for="instruction-category" class="col-3 col-form-label">Category</label>
                <div class="col-8">
                  <select class="form-control" id="instruction-category">
                    <option value="nothing" selected>Choose...</option>
                    <option value="computers">Computers</option>
                    <option value="house">House</option>
                    <option value="auto">Auto</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="tag-input" class="col-3 col-form-label">Tags</label>
                <div class="col-8" id="tag-input">
                  <dx-tag-box [items]="simpleProducts"
                              [searchEnabled]="true">
                  </dx-tag-box>
                </div>
              </div>
              <div class="form-group row">
                <label for="instruction-about" class="col-11 col-form-label">Describe your instruction</label>
                <div class="col-11">
              <textarea class="form-control"
                        id="instruction-about"
                        rows="3">
              </textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col">
          <div class="hint">
            <span class="hint__title">
              2. Add steps to your instruction
            </span>
          </div>
          <div class="step-list text-center">
            <div class="step">
              <span class="no-steps" *ngIf="!steps.length">No steps yet</span>
            </div>
          </div>
          <div class="add-item text-center">
            <button class="btn btn-primary btn-circle btn-lg" data-toggle="modal" data-target="#stepModal">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <div class="modal fade" id="stepModal" tabindex="-1" role="dialog" aria-labelledby="stepModalTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="stepModalTitle">New step</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group row">
                        <label for="step-name" class="col-3 col-form-label">Name</label>
                        <div class="col-8" id="step-name">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="message-text" class="col-3 col-form-label">Description</label>
                        <div class="col-8">
                          <textarea class="form-control" id="message-text" rows="4"></textarea>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="save-instruction">
        <div class="hint">
            <span class="hint__title">
              3. Save your instruction
            </span>
        </div>
        <div class="save-btn">
          <button class="btn btn-outline-primary btn-lg">SAVE</button>
        </div>
      </div>
    </div>
  </div>
</div>
