<nav class="navbar fixed-top navbar-toggleable-md"
     [class.navbar-light]="preloadSettings.isLightTheme"
     [class.navbar-inverse]="!preloadSettings.isLightTheme"
     [class.bg-inverse]="!preloadSettings.isLightTheme">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <img src="../assets/logo.png"
           class="d-inline-block align-top"
           width="30"
           height="30"
           alt="">
      {{'Лайфхакер' | translate}}
    </a>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/home" routerLinkActive="active">
            {{'Главная' | translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            {{'Ссылка' | translate}}
          </a>
        </li>
      </ul>
      <form class="form-inline mr-auto searchForm">
        <input type="text" class="form-control mr-sm-3" placeholder="{{'Поиск' | translate}}">
        <button [class.btn-outline-info]="preloadSettings.isLightTheme"
                [class.btn-outline-warning]="!preloadSettings.isLightTheme"
                class="btn"
                type="submit">
          {{'Поиск' | translate}}
        </button>
      </form>
      <div style="padding-top: 5px;">
        <div class="btn-group mr-sm-3" data-toggle="buttons">
          <label [class.btn-outline-info]="preloadSettings.isLightTheme"
                 [class.btn-outline-warning]="!preloadSettings.isLightTheme"
                 class="btn btn-sm active"
                 (click)="changeOnLightTheme()">
            <input type="radio"
                   name="options"
                   id="lightOption"
                   autocomplete="off"
                   checked>
            {{'Светлая' | translate}}
          </label>
          <label [class.btn-outline-info]="preloadSettings.isLightTheme"
                 [class.btn-outline-warning]="!preloadSettings.isLightTheme"
                 class="btn btn-sm"
                 (click)="changeOnDarkTheme()">
            <input type="radio"
                   name="options"
                   id="darkOption"
                   autocomplete="off">
            {{'Темная' | translate}}
          </label>
        </div>
        <div class="btn-group mr-sm-3" data-toggle="buttons">
          <label [class.btn-outline-info]="preloadSettings.isLightTheme"
                 [class.btn-outline-warning]="!preloadSettings.isLightTheme"
                 class="btn btn-sm"
                 (click)="selectLang('ru')">
            <input type="radio"
                   name="options"
                   id="ruOption"
                   autocomplete="off"
                   checked>
            RU
          </label>
          <label [class.btn-outline-info]="preloadSettings.isLightTheme"
                 [class.btn-outline-warning]="!preloadSettings.isLightTheme"
                 class="btn btn-sm active"
                 (click)="selectLang('en')">
            <input type="radio"
                   name="options"
                   id="enOption"
                   autocomplete="off">
            EN
          </label>
        </div>
      </div>
      <div class="loginLinksList" *ngIf="!_auth.authenticated()">
        <a href="/"
           class="loginLink"
           [class.lightLink]="preloadSettings.isLightTheme"
           [class.darkLink]="!preloadSettings.isLightTheme"
           (click)="onLogin()"
           onclick="return false;">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <span class="loginText">{{'Войти' | translate}}</span>
        </a>
      </div>
      <div class="userGreeting" *ngIf="_auth.authenticated()">
        <div class="btn-group">
          <button class="btn btn-sm dropdown-toggle"
                  [class.btn-outline-info]="preloadSettings.isLightTheme"
                  [class.btn-outline-warning]="!preloadSettings.isLightTheme"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            {{'Привет' | translate}}, {{ _auth.userProfile.name }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"
               href="/" (click)="_auth.logout()">
              {{'Выйти' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container" [class.darkTheme]="!preloadSettings.isLightTheme">
  <router-outlet></router-outlet>
</div>

