<nav class="navbar fixed-top navbar-toggleable-md"
     [class.navbar-light]="isLightTheme"
     [class.navbar-inverse]="!isLightTheme"
     [class.bg-inverse]="!isLightTheme">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <img src="../assets/logo.png"
           class="d-inline-block align-top"
           width="30"
           height="30"
           alt="">
      {{'Лайфхакер' | translate}}
    </a>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/home" routerLinkActive="active">
            {{'Главная' | translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            {{'Ссылка' | translate}}
          </a>
        </li>
      </ul>
      <div style="padding-top: 5px;">
        <div class="btn-group mr-sm-3" data-toggle="buttons">
          <label [class.btn-outline-info]="isLightTheme"
                 [class.btn-outline-warning]="!isLightTheme"
                 class="btn btn-sm active"
                 (click)="changeOnLightTheme()">
            <input type="radio"
                   name="options"
                   id="lightOption"
                   autocomplete="off"
                   checked>
            {{'Светлая' | translate}}
          </label>
          <label [class.btn-outline-info]="isLightTheme"
                 [class.btn-outline-warning]="!isLightTheme"
                 class="btn btn-sm"
                 (click)="changeOnDarkTheme()">
            <input type="radio"
                   name="options"
                   id="darkOption"
                   autocomplete="off">
            {{'Темная' | translate}}
          </label>
        </div>
        <div class="btn-group mr-sm-3" data-toggle="buttons">
          <label [class.btn-outline-info]="isLightTheme"
                 [class.btn-outline-warning]="!isLightTheme"
                 class="btn btn-sm"
                 (click)="selectLang('ru')">
            <input type="radio"
                   name="options"
                   id="ruOption"
                   autocomplete="off"
                   checked>
            RU
          </label>
          <label [class.btn-outline-info]="isLightTheme"
                 [class.btn-outline-warning]="!isLightTheme"
                 class="btn btn-sm active"
                 (click)="selectLang('en')">
            <input type="radio"
                   name="options"
                   id="enOption"
                   autocomplete="off">
            EN
          </label>
        </div>
      </div>
      <form class="form-inline">
        <input type="text" class="form-control mr-sm-3" placeholder="{{'Поиск' | translate}}">
        <button [class.btn-outline-info]="isLightTheme"
                [class.btn-outline-warning]="!isLightTheme"
                class="btn"
                type="submit">
          {{'Поиск' | translate}}
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

